SHELL=/bin/sh
INSTALL=/usr/bin/install
PREFIX=/usr/ccs
BINDIR=$(PREFIX)/bin
SUSBIN=/usr/5bin/posix
LIBDIR=$(PREFIX)/lib
MANDIR=$(PREFIX)/share/man
STRIP=strip -s -R .comment -R .note
CXX=c++
CFLAGS=-O
CXXFLAGS=-O
CPPFLAGS=-D_GNU_SOURCE
LDFLAGS=
LIBS=
RANLIB=(hash ranlib) >/dev/null 2>&1 || exit 0; ranlib
#RANLIB=ranlib -c
YACC=`test -x ../yacc/yacc && echo ../yacc/yacc -P../yacc/yaccpar || echo yacc`
LNS=ln -s
